@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Web.Models.BuyTicketViewModel
@{
    ViewBag.Title = Localizer["Title"];
}
<body>
    @using (Html.BeginForm("BuyNewTicket", "Purchase", FormMethod.Post))
    {
        <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
        <div>
            <p>@Localizer["Data"]:</p>
            <br />
            <p>@Localizer["Name"]: @Model.EventName</p>
            <p>@Localizer["AreaDescr"]: @Model.AreaDescription</p>
            <p>@Localizer["Row"]: @Model.Row</p>
            <p>@Localizer["Number"]: @Model.Number</p>
            <p>@Localizer["Price"]: @Model.Price</p>
        </div>
        <div>@Localizer["Quest"]</div>
        <input type="number" name="id" value="@Model.Id" style="display: none;"/>
        <input type="text" name="userName" value="@User.Identity.Name" style="display:none;" />
        <div>
            <input type="submit" id="confirm" value="@Localizer["Yes"]" name="confirm" />
            <input type="submit" value="@Localizer["No"]" name="confirm">
        </div>
        <br />
    }
</body>
<script>
    window.onbeforeunload = function () {
        $.ajax({
            url: '@Url.Action("BuyNewTicket", "Purchase", new { id = Model.Id, userName = User.Identity.Name, confirm = $"{@Localizer["No"]}" })',
            data: {"confirm": "@Localizer["No"]"}
        }).done(function (res) { window.location.href = res });
    }
</script>
