@model VenueViewModel
<h3 style="margin-top:15px;">
    Изменение записи
</h3>
@using (Html.BeginForm("UpdateVenue", "Venue", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Id)
        <div class="col-md-10">
            <select name="Id" id="id">
                @foreach (var id in Model.Ids)
                {
                    <option>@id</option>
                }
            </select>
            &nbsp;
            <input name="action" type="submit" style="border:hidden; width:200px" value="Удалить площадку" />
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Address)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Phone)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone)
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-default" style="left:15px; position:relative" value="Изменить" />
}

