@model TicketManagement.Web.Models.VenueViewModel
@{
    ViewBag.Title = "Таблица площадок";
}
<script>
    function changeAddVisibility() {
        document.getElementById('UpdateVenue').style.display = "none";
        document.getElementById('AddVenue').style.display = "block";
    }
    function changeUpdateVisibility(id) {
        document.getElementById('UpdateVenue').style.display = "block";
        document.getElementById('AddVenue').style.display = "none";
        $("#id").val(id);
    }
    function SetSession() {
        sessionStorage.setItem("description", $("#value1").val());
        sessionStorage.setItem("address", $("#value2").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("description"));
        $("#value2").val(sessionStorage.getItem("address"));
    }
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">Описание:&nbsp;</label>
            <input name="education" id="value1" class="form-control" />
        </div>
        <div>
            <label class="control-label">Адрес:&nbsp;</label>
            <input name="education" id="value1" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-type="Id">Id</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="des">Описание</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="addr">Адрес</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="ph">Образование</a>
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.Venues)
            {
                <tr>
                    <td>
                        <input type="button" class="btn-default" style="border:hidden; width:100%; background-color: rgba(0,100,0,0.9); color:white;" value="@elem.Id" onclick="changeUpdateVisibility(@elem.Id)" />
                    </td>
                    <td>
                        @elem.Description
                    </td>
                    <td>
                        @elem.Address
                    </td>
                    <td>
                        @elem.Phone
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <br />
    <div>
        <input type="submit" class="btn-default" value="Добавить запись" onclick="changeAddVisibility()" />
    </div>
    <hr />
    @ViewData["Message"]
    <div>
        <div id="AddVenue" style="display:none;">
            @{await Html.RenderPartialAsync("_AddVenue");}
        </div>
        <div id="UpdateVenue" style="display:none;">
            @{await Html.RenderPartialAsync("_UpdateVenue");}
        </div>
    </div>
</body>