@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CourseProject.Models.EditUserViewModel
@{
    ViewBag.Title = Localizer["Title"];
}
<h1 style="margin-top:15px;">@ViewBag.Title</h1>
<form asp-action="Edit" asp-controller="UserManage">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label">@Localizer["Surname"]</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">@Localizer["Name"]</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div>
        <label asp-for="Language">@Localizer["Lang"]</label><br />
        <select asp-for="Language" id="language">
            <option>Беларуская</option>
            <option>Русский</option>
            <option>English</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Save"]" class="btn btn-outline-secondary" />
    </div>
</form>