@model IEnumerable<TicketManagement.Web.Models.User>
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Список пользователей";
}

<div class="text-center">
    <h1 style="margin-top:15px;">
        Список пользователей
    </h1>

    <a asp-action="Create">Добавить пользователя</a>

    <table align="center" border="1" style="border-color: black;">
        <thead>
            <tr>
                <th>Email</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Язык</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.Surname</td>
                    <td>@user.FirstName</td>
                    <td>@user.Language</td>
                    <td>@UserManager.GetRolesAsync(user).Result.First()</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" style="color:white;">
                                Удалить
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Edit" asp-route-id="@user.Id" method="get">
                            <button type="submit" style="color:white;">
                                Изменить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
