@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Web.Models.EventSeatViewModel
@{
    ViewBag.Title = Localizer["Title"];
    Model.FilterEventAreaDescriptions.Add(Localizer["All"].Value);
}
<script>
    function changeAddVisibility() {
        document.getElementById('UpdateEventSeat').style.display = "none";
        document.getElementById('AddEventSeat').style.display = "block";
    }
    function changeUpdateVisibility(id) {
        document.getElementById('UpdateEventSeat').style.display = "block";
        document.getElementById('AddEventSeat').style.display = "none";
        $("#id").val(id);
    }
    function SetSession() {
        sessionStorage.setItem("eventAreaDescr", $("#value1 option:selected").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("eventAreaDescr"));
    }
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">@Localizer["eventAreaDescr"]:&nbsp;</label>
            <select name="eventAreaDescr" id="value1" class="form-control">
                @foreach (var elem in Model.FilterEventAreaDescriptions)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="@Localizer["Filter"]" class="btn btn-default" />
        </div>
    </form>
    <br />
    @Localizer[(string)ViewData["Message"]]
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-type="Id">Id</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="eventAreaDes">@Localizer["eventAreaDescr"]</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="row">@Localizer["Row"]</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="numb">@Localizer["Number"]</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="state">@Localizer["State"]</a>
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.EventSeats)
            {
                <tr>
                    <td>
                        <input type="button" class="btn-default" style="border:hidden; width:100%; background-color: rgba(0,100,0,0.9); color:white;" value="@elem.Id" onclick="changeUpdateVisibility(@elem.Id)" />
                    </td>
                    <td>
                        @elem.EventAreaDescription
                    </td>
                    <td>
                        @elem.Row
                    </td>
                    <td>
                        @elem.Number
                    </td>
                    <td>
                        @elem.State
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                @Localizer["Back"]
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                @Localizer["Forward"]
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <br />
    <div>
        <input type="submit" class="btn-default" value="@Localizer["Add"]" onclick="changeAddVisibility()" />
    </div>
    <hr />
    <div>
        <div id="AddEventSeat" style="display:none;">
            @{await Html.RenderPartialAsync("_AddEventSeat");}
        </div>
        <div id="UpdateEventSeat" style="display:none;">
            @{await Html.RenderPartialAsync("_UpdateEventSeat");}
        </div>
    </div>
</body>