@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LayoutViewModel
@{ 
    List<string> venueAddresses = new List<string>();
    venueAddresses.AddRange(Model.FilterVenueAddresses);
    venueAddresses.Remove(Localizer["All"].Value);
}
<h3 style="margin-top:15px;">
    @Localizer["Title"]
</h3>
@using (Html.BeginForm("UpdateLayout", "Layout", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Id)
        <div class="col-md-10">
            <select name="Id" id="id">
                @foreach (var id in Model.Ids)
                {
                    <option>@id</option>
                }
            </select>
            &nbsp;
            <input name="action" type="submit" style="border:hidden; width:200px" value="@Localizer["Remove"]" />
        </div>
    </div>
    <div>
        <label class="control-label">@Localizer["Descr"]:&nbsp;</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description)
        </div>
    </div>
    <div>
        <label class="control-label">@Localizer["VenueAddr"]:&nbsp;</label>
        <div class="col-md-10">
            <select name="VenueAddress">
                @foreach (var addr in venueAddresses)
                {
                    <option>@addr</option>
                }
            </select>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-default" style="left:15px; position:relative" value="@Localizer["Change"]" />
}

