@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Web.Models.LayoutViewModel
@{
    ViewBag.Title = Localizer["Title"];
    Model.FilterVenueAddresses.Add(Localizer["All"].Value);
}
<script>
    function changeAddVisibility() {
        document.getElementById('UpdateLayout').style.display = "none";
        document.getElementById('AddLayout').style.display = "block";
    }
    function changeUpdateVisibility(id) {
        document.getElementById('UpdateLayout').style.display = "block";
        document.getElementById('AddLayout').style.display = "none";
        $("#id").val(id);
    }
    function SetSession() {
        sessionStorage.setItem("description", $("#value1").val());
        sessionStorage.setItem("venueAddress", $("#value2 option:selected").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("description"));
        $("#value2").val(sessionStorage.getItem("venueAddress"));
    }
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">@Localizer["Descr"]:&nbsp;</label>
            <input name="description" id="value1" class="form-control" />
        </div>
        <div>
            <label class="control-label">@Localizer["VenueAddr"]:&nbsp;</label>
            <select name="venueAddress" id="value2" class="form-control">
                @foreach (var elem in Model.FilterVenueAddresses)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="@Localizer["Filter"]" class="btn btn-default" />
        </div>
    </form>
    <br />
    @Localizer[(string)ViewData["Message"]]
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-type="Id">Id</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="des">@Localizer["Descr"]</a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-type="venAddrs">@Localizer["VenueAddr"]</a>
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.Layouts)
            {
                <tr>
                    <td>
                        <input type="button" class="btn-default" style="border:hidden; width:100%; background-color: rgba(0,100,0,0.9); color:white;" value="@elem.Id" onclick="changeUpdateVisibility(@elem.Id)" />
                    </td>
                    <td>
                        @elem.Description
                    </td>
                    <td>
                        @elem.VenueAddress
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                @Localizer["Back"]
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                @Localizer["Forward"]
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <br />
    <div>
        <input type="submit" class="btn-default" value="@Localizer["Add"]" onclick="changeAddVisibility()" />
    </div>
    <hr />
    <div>
        <div id="AddLayout" style="display:none;">
            @{await Html.RenderPartialAsync("_AddLayout");}
        </div>
        <div id="UpdateLayout" style="display:none;">
            @{await Html.RenderPartialAsync("_UpdateLayout");}
        </div>
    </div>
</body>