@model EventAreaViewModel
@{ 
    List<string> eventNames = new List<string>();
    eventNames.AddRange(Model.FilterEventNames);
    eventNames.Remove("Все");
}
<h3 style="margin-top:15px;">
    Добавление записи
</h3>
<hr />
@using (Html.BeginForm("AddEventArea", "EventArea", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Description)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.EventName)
        <div class="col-md-10">
            <select name="EventName">
                @foreach (var addr in eventNames)
                {
                    <option>@addr</option>
                }
            </select>
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.StartCoordX)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StartCoordX)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.StartCoordY)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StartCoordY)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.EndCoordX)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EndCoordX)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.EndCoordY)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EndCoordY)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        <div class="col-md-10">
            <input type="number" asp-for="Price" min="0" />
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-default" style="left:15px; position:relative" value="Добавить" />
}
