@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Web.Models.HomeViewModel
@{
    ViewBag.Title = Localizer["Title"];
    int countNumb = 0;
}
<style>
    .image p{
        position:relative;
        opacity:0;
        color:white;
        top:110px;
        left:-200px;
    }
    .image img{
        position:relative;
        width:200px;
        height:200px;
        transition-property:img, p;
    }
    .image:hover img {
        transition:0.5s;
        filter: blur(10px);
    }
    .image{
        width:min-content;
        height:min-content;
    }
    .image:hover > p {
        opacity: 1;
        transition: 0.3s;
        color: white;
    }
</style>
<script>
    function SetSession() {
        sessionStorage.setItem("name", $("#value1").val());
        sessionStorage.setItem("description", $("#value2").val());
    }
    function GetSession() {
        $("#value1").val(sessionStorage.getItem("name"));
        $("#value2").val(sessionStorage.getItem("description"));
    }
</script>
<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1 style="margin-top:15px;">@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">@Localizer["Name"]:&nbsp;</label>
            <input name="name" id="value1" class="form-control" />
        </div>
        <div>
            <label class="control-label">@Localizer["Descr"]:&nbsp;</label>
            <input name="description" id="value2" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" value="@Localizer["Filter"]" class="btn btn-default" />
        </div>
    </form>
    <br />
    <div>
        @foreach (var elem in Model.Events)
        {
            if (User.IsInRole("Базовый пользователь"))
            {
                <span class="image"><a asp-action="Index" asp-controller="Purchase" asp-route-id="@elem.Id"><img src="~/images/@elem.ImageUrl" /></a><p class="block_a"><br />@elem.Name<br />@elem.Description<br />@elem.Count</p>
            </span>
            }
            else
            {
                <div class="block_a"><img src="~/images/@elem.ImageUrl" /><span class="block_a"><br />@elem.Name<br />@elem.Description<br />@elem.Count</span></div>
            }
            countNumb++;
            if (countNumb == 4)
            {
                <br />
            }
        }
    </div>
    <div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn" style="border:2px solid white;">
                <i class="glyphicon glyphicon-chevron-left"></i>
                @Localizer["Back"]
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn" style="border:2px solid white;">
                @Localizer["Forward"]
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
</body>
