@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <header>
        <nav class="main navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Title"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Менеджер событий")) { 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Event">@Localizer["Event"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="EventArea">@Localizer["EventArea"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="EventSeat">@Localizer["EventSeat"]</a>
                            </li>
                        }
                        else if (User.IsInRole("Менеджер площадок")) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Venue">@Localizer["Venue"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Layout">@Localizer["Layout"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Area">@Localizer["Area"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Seat">@Localizer["Seat"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="UserManage">@Localizer["User"]</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".regItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".logItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</body>
</html>
